.icon {
  display: block;
  fill: currentColor;
  height: var(--size);
  margin: 0 auto;
  pointer-events: none;
  width: var(--size);
}

.icon--main-header {
  --size: 35px;
  margin: 0 5px 0 0;
}

.icon--main-header-status {
  --size: 0.8rem;
  margin: 0 0 0 0.4em;
}

.icon--main-nav {
  --size: 1.25em;
  stroke: rgba(0, 0, 0, 0.2);
}

.icon--number {
  --size: 0.667em;
}

.icon--checkbox {
  --size: 1em;
  margin: 0;
}

.icon--calendar-nav {
  --size: 2rem;
}
