.main-nav__list {
  align-items: stretch;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-nav__item {
  flex: 1;
  list-style: none;
}

.main-nav__link {
  background: var(--c-theme-first);
  color: var(--c-theme-second);
  display: block;
  font-size: 0.8rem;
  height: 100%;
  padding-top: 0.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.main-nav__link:hover,
.main-nav__link:focus {
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 1);
}

.main-nav__link--selected {
  background: var(--c-theme-second);
  color: var(--c-theme-first);
  text-shadow: none;
}

.main-nav__link-text {
  display: block;
  margin-top: 0.25em;
}
